.site-content {
	padding: 1em;
	
	@media screen and (min-width: $query__small) {
		padding: 2em 7em;
	}
        
        border-bottom: 15px solid aliceblue;
        border-right: 15px solid aliceblue;
        border-left: 15px solid aliceblue;
        box-shadow: 12px 0 5px -5px #e7e7e780
}