html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
        padding: 4em;
}

#page.site{
    border: 1em solid #F2F4FF;
    padding: 3em 6em;
    -webkit-box-shadow: 6px 4px 11px 0px rgba(50, 50, 50, 0.27);
    -moz-box-shadow:    6px 4px 11px 0px rgba(50, 50, 50, 0.27);
    box-shadow:         6px 4px 11px 0px rgba(50, 50, 50, 0.27);
}

@media screen and (max-width: $query__small) {
    #page.site{
    border: none;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
}

.sidebar-area {
    display: none;
}
}
blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";