
.nav-links{
    a {
        color: #404040;
        background-color: aliceblue;
        text-decoration: none;
        
        &:focus,
            &:hover {
            background-color: #fff;
            color: #404040;
        }
    }
}

