.nav-links{
    
    margin: 2em 0;
    padding: 3em 0;
    
    a {
        color: #404040;
        background-color: aliceblue;
        text-decoration: none;
        
        &:focus,
            &:hover {
            background-color: #fff;
            color: #404040;
        }
    }
}

.nav-previous{ 
float: left;
}

.nav-next{ 
float: right;
}