button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	
	background: #f2f4ff;
	color: #000;
        font-family: $font__navigation;
        border: none;
        padding: 5px 15px;

	&:hover {
            background-color: #fff;
            color: #000;
            text-decoration: underline;
	}

	&:active,
	&:focus {
		background-color: #fff;
                color: #000;
                text-decoration: underline;
	}
}


